<div class="web-content product-detail">
    <div class="content-top">
        <div class="container">
            <div class="row">
                <div class="content-top-left detailMap"></div>
                <div class="content-top-right">
                    <div class="right-top">
                        <div class="label-info clearfix right-top-warp">
                            <div class="label-name">
                                    {{name}}
                            </div>
                            <div class="label-logo">
                                <a href="{{brand.logoLink}}" target="_blank"><img class="{{if !logoUrl}}hidden{{/if}}" src="{{logoUrl}}"></a>
                            </div>
                        </div>
                        <div class="right-top-warp clearfix">
                            <div class="double-line-left"></div>
                            <div class="recommend">推荐同款</div>
                            <div class="double-line-right"></div>
                        </div>
                        <div class="carousel6">
                            {{include "./carousel6"}}
                        </div>

                        <div class="more text-center" {{if items.length<6}}style="display: none"{{/if}}>
                            更多...
                        </div>
                    </div>
                    <div class="right-bottom">
                        <div class="clearfix user-option" style="margin: 0 auto;width: 535px;">
                            <div class="lab" style="padding-right: 99px;"><img src="{{config.url}}/home/zan_icon.png">{{venus.laudCount}}人赞过</div>
                            <div class="lab-line"></div>
                            <div class="lab hidden"><img src="{{config.url}}/home/share.png">分享</div>
                            <div class="lab" style="padding-left: 99px"><i></i><a href="/xing71.html" target="_blank">手机端下载</a></div>
                        </div>
                        <div class="slash-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="relevant-title">
                    <div class="relevant-colloctaion-left"></div>
                    <div class="relevant-colloctaion">
                        相关搭配
                    </div>
                </div>
                <div class="relevant-maps waterfall-flow">

                </div>
            </div>
        </div>
    </div>
</div>